NG2_APP_HTTP_BASE_URL=http://api.example.com/v1

APP_IDENTIFIER=br.com.ammora.ionic3boilerplate
APP_VERSION=
MATCH_GIT_URL=git@gitlab.com:onlytech/certificates.git
MATCH_USERNAME=
DELIVER_USERNAME=
FASTLANE_PASSWORD=
MATCH_KEYCHAIN_PASSWORD=
MATCH_PASSWORD=
MATCH_GIT_BRANCH=master
MATCH_TYPE=development
MATCH_READONLY=true
MATCH_FORCE_FOR_NEW_DEVICES=true
FASTLANE_TEAM_ID=5X3QY53G4F

# hockeyapp
FL_HOCKEY_API_TOKEN=
FL_HOCKEY_APP_ID_IOS=
FL_HOCKEY_APP_ID_ANDROID=

NODE_VERSION=8.12.0
NPM_VERSION=5.6.0

# gpg
GPG_PASSPHRASE=

## Keystore
KEYSTORE_DESTINATION=./dev.jks.gpg
KEYSTORE_PASSWORD=123456
KEYSTORE_STORE_PASSWORD=123456
KEYSTORE_ALIAS=Dev

# opcional(fastlane cert_<development|appstore|enterprise> ja atualiza com UUID instalado)
# valor utilizado para atualizar o build.json
PROVISION_UUID=
